package views
import "tp5/db"

templ TarjetaAndTemaBody(tarjetas []db.Tarjetum, temas []db.Tema) {
    <div class="grid">
            <section>
                <article>
                    <header><h1>Lista de Temas</h1></header>
                    @TemaList(temas)
                </article>
                <article>
                    @temaForm()
                </article>
            </section>
            <section>
                @TarjetaBody(tarjetas)
            </section>
    </div>
}